<header>
    <h1><%= @race.name %></h1>
</header>

<body>
    <p> 
        <strong>HP:</strong> <%= @race.hp %><br>
        <strong>Speed:</strong> <%= @race.speed %><br>
        <strong>Size:</strong> <%= @race.size.capitalize %><br>
    </p>
</body>