<p><%= @error %></p>

<h2>Sign up</h2>
<form action="/signup" method="post">
	<div class="container">
		<label for="username"><b>Username</b><br></label>
		<input type="text" id="username" placeholder="Enter Username" name="username" required>
		<label for="password"><br><b>Password</b><br></label>
		<input type="password" id="password" placeholder="Enter Password" name="password" required>
        <input type="submit" value="Sign up"> 
    </div>
</form>