<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Starfinder Character Builder</h2>

    <div class="content">
      <p>Welcome to the Starfinder Character Builder.</p>
    </div>

  </div>
</div>
