<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Starfinder Character Builder</h2>

    <div class="content">
      <p>Welcome to the Starfinder Character Builder. The Starfinder Roleplaying Game is a science-fiction/science fantasy role-playing game and this application will help you in building a basic character.</p>
    </div>

  </div>
</div>
